// new colors
$white: #ffffff;
$black: #181414;

//primary
// $primary-01: #d1132a;
$primary-02: #e12b41;
$primary-03: #f0808e;
$primary-04: #f3b9c0;
$primary-05: #fbf0f2;

//neutral
$neutral-01: #6c6868;
$neutral-02: #9b9a9a;
$neutral-03: #bdbdbd;
$neutral-04: #ececec;
$neutral-05: #f5f5f5;

//blue
$blue-01: #1158ba;
$blue-02: #046cfc;
$blue-03: #81b5fe;
$blue-04: #c5ddff;
$blue-05: #eef5ff;

//green

//orange

//red

//other
