body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #fff !important;
}

.custom_bg {
  // background-image: linear-gradient(90deg,
  //     rgba(0, 0, 0, 0.4) 0%,
  //     rgba(0, 0, 0, 0) 100%),
  //   url('../assets/images/bg.png');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &::before {
    content: url('../assets/image/left.png');
    position: absolute;
    left: 2rem;
    top: 10rem;
    animation: moveAnimation 6s infinite alternate;
    z-index: -1;
  }

  &::after {
    content: url('../assets/image/right.png');
    position: absolute;
    right: 2rem;
    top: 20rem;
    animation: moveAnimation 6s infinite alternate;
    z-index: -1;
  }

  @keyframes moveAnimation {
    0% {
      transform: translate(10px, 20px);
    }

    100% {
      transform: translate(0px, -15px)
    }
  }

  .logo {
    position: fixed;
    top: 24px;
    left: 80px;
    right: 80px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.skeleton {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);
  background-size: 400% 100%;
  animation-name: skeletonloading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes skeletonloading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.full {
  width: 100%;
  height: 100%;
}

.shadow {
  box-shadow: 1px 4px 12px 4px rgba(34, 33, 33, 0.24);

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    box-shadow: 1px 4px 12px 4px rgba(34, 33, 33, 0.24);
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    box-shadow: 0px 3px 10px 2px rgba(34, 33, 33, 0.2);
  }

  @media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
    box-shadow: 0px 1px 4px 0px rgba(34, 33, 33, 0.12);
  }
}

.shadow2 {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset,
    0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.col-center {
  display: flex;
  align-items: center;
}

.asterisk {
  color: red;
}

.layout_box {
  // background-color: $white;
  border-radius: 16px;
}

.ellipsis-text {
  max-width: 200px;
  /* Độ dài tối đa bạn muốn hiển thị */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.simplebar-wrapper {
  .simplebar-placeholder {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

.ant-layout-content {
  padding-bottom: 50px !important;
}

.col-right {
  text-align: right;

  @media (max-width: 767px) {
    text-align: left;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}