.add_cart_modal {
  min-width: 678px;
  max-width: 678px;
}

.content {
  padding: 0;
}

.header {
  padding-bottom: 16px;
  border-bottom: 0.5px solid #e1e3e5;
}
.body {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  min-height: 450px;
  max-height: 450px;

  overflow: auto;
}
.footer {
  border-top: 0.5px solid #e1e3e5;
  padding: 16px 16px 0 16px;
}
