.button_wrapper {
  // display: inline-block;

  .default {
    min-width: 120px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    // max-width: 150px;
  }

  .primary {
    background: #d1132a;

    &:hover {
      background-color: #e12b41 !important;
      color: #fff;
    }
  }

  .ghost {
    border: 0.5px solid;

    &:hover,
    :focus,
    :active {
      // background-color: $primary-02 !important;
      // color: $white !important;
      // border: 0.5px solid $primary-02 !important;
    }
  }

  .disabled,
  .disabled:hover,
  .disabled:focus,
  .disabled:active {
    background: #fff !important;
    // color: $neutral-03 !important;
    // border: 0.5px solid $neutral-03 !important;
  }

  .link {
    color: green;
    text-decoration: underline;
    padding: 0;
    min-width: unset;
  }
}
