@import '../../../styles/constants/break-point';

.h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 32px;
    line-height: 44px;
  }
}

.h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 24px;
    line-height: 36px;
  }
}

.h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 20px;
    line-height: 32px;
  }
}

.p_xl_semi {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p_xl_med {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p_xl_reg {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 16px;
    line-height: 24px;
  }
}

.p_lg_semi {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 20px;
  }
}

.p_lg_med {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 20px;
  }
}

.p_lg_reg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 20px;
  }
}

.p_md_semi {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 12px;
    line-height: 16px;
  }
}

.p_md_med {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 12px;
    line-height: 16px;
  }
}

.p_md_reg {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 12px;
    line-height: 16px;
  }
}

.p_sm_semi {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 10px;
    line-height: 12px;
  }
}

.p_sm_med {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 10px;
    line-height: 12px;
  }
}

.p_sm_reg {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
    font-size: 10px;
    line-height: 12px;
  }
}

.span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}